<div class="nav-content">
    <a href="{{ path('admin')}}" class="nav-items" >Administration</a>
    <a href="{{ path('admin.forum.index')}}" class="nav-items {{is_subpath('admin.forum.index') ? 'active'}}" >Forum</a>
    <a href="{{ path('admin.news.index')}}" class="nav-items {{is_subpath('admin.news.index') ? 'active' }}" >Actualités</a>
</div>