{% extends 'layout.twig' %}

{% block title "Bascode"%}

{% block body %}
<main class="container">
    <a class="container-link" href="/">Accueil</a>
    {% if path("forum.index") %}
    <div class="cards last-topics">
        <header class="cards-head">
            Derniers Topics
        </header>
         {% for thread in threads %}
        <div class="topics">
            <div class="topics-create-info">
                <a href={{path('forum.show', {slug: thread.slug, id: thread.id})}} class="topics-name">{{ thread.name }}</a>
                <p>Crée par {{ thread.username }}</p>
                <p>Commencé {{ thread.createdAt | ago }}</p>
            </div>
            <div class="topics-last-info">
                <div class="total-posts">{{ thread.count }} <br />Posts</div>
                <div class="last-post">
                    <div class="last-post-text">
                        Dernier Post :
                    </div>
                    <img src="https://via.placeholder.com/55x55" alt="" />
                    <p>Cavernos</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        
    </div>
    <div class="cards last-actu"> 
        <header class="cards-head">
            Dernières Actualités
        </header>
         
        <div class="actus" id="carousel">
            {% for new in news %}
            <div class="actu-items">
            {% if new.thumb != null %}
                <img src="{{new.thumb}}" alt="" />
            {% endif %}
                <a href="{{path('news.show', {slug: new.slug, id: new.id})}}" class="actu-name active">{{new.name}}</a>
                <p>Par {{ new.username }}</p>
                <p>{{new.createdAt | ago}}</p>
            </div>
             {% endfor %}
        </div>  
    </div>
    {% if path("tuto.index") != '' %}
    <div class="cards last-topics"> 
        <header class="cards-head">
            Derniers Tutoriels
        </header>
    </div>
    {% endif %}
</main>
{% endblock %}