{% extends 'layout.twig' %}

{% block title "Bascode"%}

{% block body %}
<header class="topbar">
        <div class="logo">
            <a href="/"><img src="/img/bascode.png" alt=""/></a>
        </div>
        <div class="connection">
            <a class="connect">Utilisateur existant ? Se connecter</a>
            <a class="btn">S'inscrire</a>
        </div>          
</header>
<nav class="topbar-nav">
<div class="nav-content">
    <a href="/forum" class="nav-items">Forum</a>
    <a href="/actu" class="nav-items">Actualités</a>
    <a href="/tuto" class="nav-items">Tutoriels</a>
    <a href="/minecraft" class="nav-items" >Minecraft</a>
</div>
<div class="research"></div>
</nav>
<main class="container">
    <a class="container-link" href="/">Accueil</a>
    <div class="cards last-topics"> 
        <header class="cards-head">
            Derniers Topics
        </header>
         {% for post in posts %}
        <div class="topics">
            <div class="topics-create-info">
                <a href={{path('post.show', {slug: post.slug, id: post.id})}} class="topics-name">{{ post.name }}</a>
                <p>Crée par {{ post.created_by }}</p>
                <p>Commencé le {{ post.created_at }}</p>
            </div>
            <div class="topics-last-info">
                <div class="total-posts">{{ post.total_messages }} <br />Posts</div>
                <div class="last-post">
                    <div class="last-post-text">
                        Dernier Post :
                    </div>
                    <img src="https://via.placeholder.com/55x55" alt="" />
                    <p>Cavernos</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cards last-actu"> 
        <header class="cards-head">
            Dernières Actualités
        </header>
        <div class="actus">
            <div class="prev"><a href='#'class="prev-button"></a></div>
            <div class="actu-items">
                <img src="https://via.placeholder.com/106x106" alt="" />
                <a href="#" class="actu-name active">Réunion sur la Base de donnée</a>
                <p>Par Cavernos</p>
                <p>Il y a 10 minutes</p>
            </div>
            <div class="next"><a href='#'class="next-button"></a></div>
        </div>       
    </div>
    <div class="cards last-topics"> 
        <header class="cards-head">
            Derniers Tutoriels
        </header>
    </div>
</main>
{% endblock %}