{% extends 'layout.twig' %}

{% block title "Forum"%}

{% block body %}
<main class="container">
    <a class="container-link" href="/">Accueil ></a>
    <a class="container-link" href="/forum">Forum</a>
    <div class="cards forum"> 
        <header class="cards-head">
            Forum
        </header>
    {% for post in posts %}
        <div class="topics">
            <div class="topics-create-info">
                <a href={{path('forum.show', {slug: post.slug, id: post.id})}} class="topics-name">{{ post.name }}</a>
                <p>Crée par {{ post.created_by }}</p>
                <p>Commencé {{ post.created_at | ago }}</p>
            </div>
            <div class="topics-last-info">
                <div class="total-posts">{{ post.total_messages }} <br />Posts</div>
                <div class="last-post">
                    <div class="last-post-text">
                        Dernier Post :
                    </div>
                    <img src="https://via.placeholder.com/55x55" alt="" />
                    <p>Cavernos</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ paginate(posts, 'forum.index')}}
    </div>
</main>
{% endblock %}