{% extends 'layout.twig' %}

{% block title post.name %}


{% block body %}
<main class="container">
    <a  class="container-link" href="/">Accueil ></a>
    <a class="container-link" href="/forum">Forum ></a>
    <a  class="container-link" href={{path('forum.show', {slug: post.slug, id: post.id})}}>{{post.name}}</a>
    <div class="cards topic-message"> 
        <header class="cards-head">
            {{post.name}}
        </header>
        <div class="messages-content">
            <h2>{{post.created_by}}</h2>
            <div class="user-info">
                <img src="https://via.placeholder.com/55x55" alt="" />
                <p>Admin</p>
            </div>
            <div class="msg-head"><p>Posté le {{post.created_at | ago}}</p><div class="author"><p>Auteur</p></div></div>
            <div class="content">{{post.name | nl2br }}</div>
        </div>
    </div>
</main>
{% endblock %}