{% extends 'layout.twig' %}

{% block title new.name %}


{% block body %}
<main class="container">
    <a  class="container-link" href="/">Accueil ></a>
    <a class="container-link" href="/news">Actualités ></a>
    <a  class="container-link" href={{path('forum.show', {slug: new.slug, id: new.id})}}>{{new.name}}</a>
    <div class="cards forums">
       <header class="cards-head">
            {{new.name}}<br/>
             Publié {{ new.createdAt | ago}}
             Par {{ new.username }}
        </header>
        <div class="news content">
            {% if new.thumb %}
                    <img style="margin: auto; display: block" src="{{new.imageURL}}" alt="{{new.name}}" />
            {% endif %}
       
            {{markdown(new.content)  | nl2br}}
        </div>
    </div>
</main>
{% endblock %}