<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/bascode.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--- <script type="module" src="/assets/js/main.js" defer></script> -->
    <script type="module" crossorigin src="/assets/js/index.edf538fe.js" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="topbar">
        <div class="logo">
            <a href="/"><img src="/assets/img/bascode.png" alt=""/></a>
            <h1>BasCode</h1>
        </div>
        {% if current_user() %}
            <div class="account">
                <a href="/msg" class="msg"></a>
                {% if current_user().thumb != null %}
                    <img src="{{current_user().thumb}}" alt="" />
                {% endif %}
                <!-- <img src="https://via.placeholder.com/40x40" alt="" /> -->
                <a href="{{ path('auth.index', {id: current_user().id}) }}" class="username">{{ current_user().username }}</a>
            </div>
        {% else %}
            <div class="connection">
                <a href="{{path('auth.login')}}" class="connect">Utilisateur existant ? Se connecter</a>
                <a href="{{path('auth.register')}}" class="btn">S'inscrire</a>
                <a href="#register" class="btn js-modal">S'inscrire</a>
            </div>  
        {% endif %}        
</header>
<nav class="topbar-nav">
<div class="nav-content">
    {% if current_user().roles == 'admin' %}<a href="{{ path('admin')}}" class="nav-items" >Administration</a>{% endif %}
    <a href="{{path('forum.index')}}" class="nav-items {{is_subpath('forum.index') ? 'active'}}">Forum</a>
    <a href="{{path('news.index')}}" class="nav-items {{is_subpath('news.index') ? 'active'}}">Actualités</a>
    <a href="/tuto" class="nav-items">Tutoriels</a>
    <a href="/minecraft" class="nav-items" >Minecraft</a>
</div>
<div class="research"></div>
</nav>
 {% if flash('success') %}
        <div class="alert alert-success">{{flash('success')}}</div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger">{{flash('error')}}</div>
    {% endif %}
    {% block body %}{% endblock %}
    <aside id="register" class="modal register" aria-hidden="true" role="true" aria-labelledby="title-modal" style="display:none;">
        <div class="modal-wrapper pane">
            <h2 id="title-modal" class="modal-title"> S'inscrire </h2>
            <hr/>
            <input type="text" class="fields"/>
            <a href="f">test</a>
        </div>
    
    </aside>

</body>
<footer class="footer">
        <div class="copyright">
            Copyright 2022
        </div>
        <div class="socials">
            <a href="https://github.com/BascodeFR" target="_blank" class="github"></a>
            <a href="#" class ="discord"></a>
            <a href="https://lyc-bascan.fr/" class="bascan" target="_blank"></a> 
        </div>
        <div class="version">
            Version : {{ version() }}
        </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.locales.min.js"></script>
<script>


timeago().render(document.querySelectorAll('.timeago'), 'fr')

</script>
</html>